# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.pyc

# due to using tox and pytest
.tox
.cache

# ignore idea
.idea/
.travis.yml

# ignore egg-info
rspm.egg-info/

# venv
venv/
